<?xml version="1.0"?>
<model>
    <name> San Quirico map </name>

    <version>0.2</version>
    <sdf version='1.6'> output.sdf </sdf>

    <author>
        <name>Marco Randazzo </name>
        <email>marco.randazzo@iit.it</email>
    </author>

    <description>
        Map of San Quirico Labs.
    </description>
</model>
